---
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  name: "Piyush Kumar Singh",
  firstName: "Piyush",
  country: "India",
  occupation: "Student",
  university: "IISER Kolkata",
  hobbies: ["Physics", "Coding", "Quantum Gravity"],
};

const skills = [
  "Julia",
  "Python",
  "Matlab",
  "LaTeX",
  "HTML",
  "CSS",
  "JavaScript",
  "Astro",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const textWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <style define:vars={{ skillColor, textWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--textWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <h1>My Personal Website</h1>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>{pageTitle}</h1>

    <p>
      Hello! My name is {identity.name}. I am a {identity.occupation} at{" "}
      {identity.university} in {identity.country}. I am interested in{" "}
      {identity.hobbies.join(", ")}.
    </p>

    <h2>Skills</h2>
    My skills include:
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <h2>Conditionals</h2>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
  </body>
</html>
